header{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 107, 165);
    h1{
        padding-top: 0.3em;
    }
    img{
        max-width: 8em;
    }
}

body{
    background-image: url(/images/plane2.webp);
    background-size: cover;
}

div{
    margin: auto;   
}

.main{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.success{
    color: rgb(44, 117, 44);
    text-decoration: underline;
    display: flex;
    width: 60%;
    justify-content: center;
}

.details{
    background-color: rgba(255, 255, 255, 0.808);
    border: 10px solid rgba(255, 255, 0, 0.164);
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
    border-radius: 4%;
}

.row{
    font-size: x-large;
    display: flex;
    padding: 0.3em;
    padding-left: 2.5em;
}

.col{
    width: 70%;
    font-variant: small-caps;
    font-weight: lighter;
}

.col1{
    font-weight: bold;
    font-variant: small-caps;
    width: 25%;
}

h2{
    font-weight: bolder;
    padding-left: 1em;
}

input[type="button"]{
    width: 20%;
    font-size: x-large;
    margin: auto;
}

#passenger2{
    display: none;
}

.passengers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}